<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <title>WebScraper</title>
</head>
<body>
    <div class="intro" style="text-align: center; margin-top: 15%">
        <h1>Spring Boot WebScraper Mini Project :)</h1>
        <ol type="I">
            <li><a href="/directions" target="_blank">Directions from A to B</a></li>
            <li><a href="/weather" target="_blank">Weather Details</a></li>
            <li><a href="/xkcd" target="_blank">XKCD comic</a></li>
        </ol>
    </div>
</body>
</html>