<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="/weather.js"></script>
		<script src="/directions.js"></script>
		<link rel="stylesheet" href="/styles.css">
		<title>Weather Info</title>
	</head>
	<body>
		<h1>Weather Info</h1>
		<div id="container">
			<h2>Where are you?</h2>
			<form>
				<input id="country" type="text" placeholder="Enter the country..." value="India"/> &nbsp;
				<input id="city" type="text" placeholder="Enter the city..." value="Bangalore"/><br><br>
				<input id="submit" type="button" value="Get Weather Details" onclick="getWeatherDetails()"/>
			</form>
			<p id="results"></p>
		</div>
	</body>
</html>