<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WebScraper</title>
		<script>
			async function getWeatherDetails() {
				var results = document.querySelector("#results");
				results.innerText = "Fetching...";
				
				var country = document.querySelector("#country").value;
				var city = document.querySelector("#city").value;
				
				var data = {
					city: city,
					country: country
				};
				
				const response = await fetch("/api/weather", {
					method: 'POST',
					headers: {
						'Content-Type': "application/json"
					},
					body: JSON.stringify(data)
				});
				
				response.json().then(resp => {
					results.innerText = resp.weatherDetails;
				});
			}
		</script>
	</head>
	<body>
		<h1>Weather Info</h1>
		<div id="container" style="text-align:center;margin-top:8%;">
			<h2>Where are you?</h2>
			<form>
				<input id="country" type="text" placeholder="Enter the country..." value="India"/> &nbsp;
				<input id="city" type="text" placeholder="Enter the city..." value="Bangalore"/><br><br>
				<input id="submit" type="button" value="Get Weather Details" onclick="getWeatherDetails()"/>
			</form>
			<p id="results" style="margin-top: 5%; font-size:150%;"></p>
		</div>
	</body>
</html>